homeassistant==2026.8.1
hid-parser==0.1.0
aiousbwatcher==1.1.2
serialx==1.8.2
pytest==9.0.0
pytest-asyncio==1.4.0
ruff==0.16.0
hassil==3.11.0
home-assistant-intents==2026.7.30
ha-ffmpeg==3.2.2
mutagen==1.48.1
